@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  color: #172e05;
  font-weight: 700;
  border-radius: 13px;
  border: none;
  padding: 20px 50px;
  position: relative;
  cursor: pointer;
}

body {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  background: url("./image/bg-image.svg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 720px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background: url("./image/bg-image.svg") no-repeat;
  background-position: center;
  background-size: cover;

  background: #ffff;
  .navbar {
    display: flex;
    height: 70px;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-between;

    &-logo {
      color: #172e05;
      font-size: 1.5rem;
    }
    &-link {
      ul {
        display: flex;

        li {
          padding: 1rem;

          a {
            color: #172e05;
          }
        }
      }
    }
    &-btn {
      button {
        border: 1px solid #393535;
        font-weight: 700;
        color: #172e05;
        background: transparent;
        padding: 10px 35px;
        border-radius: 15px;
        cursor: pointer;
      }
    }
  }
}
.home-section {
  height: 720px;
  .home-title {
    margin-top: 100px;
    h1 {
      color: #fff;
      font-size: 70px;
      width: 40%;
      display: block;
    }
    p {
      color: #fff;
      font-size: 25px;
      width: 30%;
    }
  }
  .home-btns {
    margin-top: 2rem;
    .start-btn {
      margin-right: 20px;
    }

    i {
      color: red;
      font-size: 30px;
      position: absolute;
      left: 15px;
      top: 12px;
    }
  }
}
.section-rooms {
  background: url("./image/roombg.svg") no-repeat;
  background-position: center;
  background-size: cover;

  .rooms {
    display: grid;
    grid-template-areas: "a a" "a a";
  }
  .room {
    display: flex;
    width: 100%;
    margin-top: 25px;
    grid-area: "a";
    .room-title {
      margin-left: 30px;

      h2 {
        color: #172e05;
        margin-bottom: 30px;
      }
      .room-btn {
        padding: 5px 25px;
        background: #9f9c98;
        color: #fff;
        border: none;
        border-radius: 14px;
        font-size: 15px;
        font-weight: 700;
        margin: 50px 50px;
        cursor: pointer;
      }
    }
  }
}
