@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  color: #172e05;
  font-weight: 700;
  border-radius: 13px;
  border: none;
  padding: 20px 50px;
  position: relative;
  cursor: pointer;
}

body {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  background: url("./image/bg-image.svg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 720px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background: url("./image/bg-image.svg") no-repeat;
  background-position: center;
  background-size: cover;
  background: #ffff;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar-logo {
  color: #172e05;
  font-size: 1.5rem;
}

header .navbar-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar-link ul li {
  padding: 1rem;
}

header .navbar-link ul li a {
  color: #172e05;
}

header .navbar-btn button {
  border: 1px solid #393535;
  font-weight: 700;
  color: #172e05;
  background: transparent;
  padding: 10px 35px;
  border-radius: 15px;
  cursor: pointer;
}

.home-section {
  height: 600px;
}

.home-section .home-title {
  margin-top: 100px;
}

.home-section .home-title h1 {
  color: #fff;
  font-size: 70px;
  width: 40%;
  display: block;
}

.home-section .home-title p {
  color: #fff;
  font-size: 25px;
  width: 30%;
}

.home-section .home-btns {
  margin-top: 2rem;
}

.home-section .home-btns .start-btn {
  margin-right: 20px;
}

.home-section .home-btns i {
  color: red;
  font-size: 30px;
  position: absolute;
  left: 15px;
  top: 12px;
}

.section-rooms {
  background: url("./image/roombg.svg") no-repeat;
  background-position: center;
  background-size: cover;
}

.section-rooms .rooms {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a a" "a a";
}

.section-rooms .room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 25px;
  grid-area: "a";
}

.section-rooms .room .room-title {
  margin-left: 30px;
}

.section-rooms .room .room-title h2 {
  color: #172e05;
  margin-bottom: 30px;
}

.section-rooms .room .room-title .room-btn {
  padding: 5px 35px;
  background: #9f9c98;
  color: #fff;
  border: none;
  border-radius: 14px;
  font-size: 15px;
  font-weight: 700;
  margin: 50px 50px;
  cursor: pointer;
}

.footer {
  background: url("./image/footer.svg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 70%;
}

.footer-title {
  text-align: center;
  padding-top: 100px;
  width: 50%;
  display: block;
  margin-left: 400px;
}

.footer-title p {
  color: #fff;
  font-size: 20px;
  margin-top: 30px;
}

.footer-mail {
  background-color: #041616;
  height: 15%;
}

.footer-mail .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.footer-mail h1 {
  color: #fff;
  font-size: 35px;
  padding-right: 60px;
}

.footer-mail .form input {
  height: 50px;
  width: 290px;
  padding-left: 10px;
  border: none;
}

.footer-mail .form input::-webkit-input-placeholder {
  font-size: 20px;
  color: #877c7c;
}

.footer-mail .form input:-ms-input-placeholder {
  font-size: 20px;
  color: #877c7c;
}

.footer-mail .form input::-ms-input-placeholder {
  font-size: 20px;
  color: #877c7c;
}

.footer-mail .form input::placeholder {
  font-size: 20px;
  color: #877c7c;
}

.footer-mail button {
  height: 50px;
  border: none;
  width: 190px;
  background-color: #f6b60f;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}
/*# sourceMappingURL=styles.css.map */